@import "tailwindcss";

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-pangolin: var(--font-pangolin);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}